WIFI_SSID = ""
WIFI_PASSWORD = ""

BALDSENSE_ID  = "Something Unique"
SLEEP_SECONDS = 600
VUSB_THRESHOLD = 10000

UPDATE_TIME = "Yes"

# AIO
AIO_USERNAME = ""
AIO_KEY = ""

# Soon to not be used
MQTT_BROKER = ""

# Not used yet
RUN_MODE = "Deploy"
TIMEZONE = "America/Chicago" # or Etc/UTC