WIFI_SSID = ""
WIFI_PASSWORD = ""

BALDSENSE_ID  = "Something Unique"
SLEEP_SECONDS = 600

# AIO
AIO_USERNAME = ""
AIO_KEY = ""

# Soon to not be used
MQTT_BROKER = ""

# Not used yet
RUN_MODE = "Deploy"